[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PANACEA"]
	path = PANACEA
	url = https://github.com/egeulgen/panacea
[submodule "driveR"]
	path = driveR
	url = https://github.com/egeulgen/driver
[submodule "pathfindR"]
	path = pathfindR
	url = https://github.com/egeulgen/pathfindr
[submodule "pathfindR.data"]
	path = pathfindR.data
	url = https://github.com/egeulgen/pathfindr.data
