[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pathfindR.data"]
	path = pathfindR.data
	url = https://github.com/egeulgen/pathfindr.data
	shallow = true
	registered = true
[submodule "pathfindR"]
	path = pathfindR
	url = https://github.com/egeulgen/pathfindr
	shallow = true
	registered = true
[submodule "driveR"]
	path = driveR
	url = https://github.com/egeulgen/driver
	shallow = true
	registered = true
